.profile-content-container{
  background-color:$primary-color;
  color: $secondary-color;
  width: 100vw;
  min-height: 100vh;
  display: flex;
}


.main-content{
  width: 100vw;
  margin-left: 430px;
  @include flex-center;
  flex-direction: column;
  justify-content: flex-start;
}