* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: black;
  background-color: #FFF;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.aside-bar {
  background-color: #3B4252;
  min-height: 100vh;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: fixed;
  color: #FFF;
}
.aside-bar .primary-button {
  background-color: #FFF;
  color: #3B4252;
  margin-top: 25px;
}

.aside-bar-image-container {
  max-width: 280px;
  width: 100%;
  max-height: 280px;
  margin-top: 35px;
}
.aside-bar-image-container img {
  max-width: 100%;
  max-height: 100%;
}

.aside-bar-information-container {
  max-width: 90%;
  width: 100%;
  margin-top: 20px;
}
.aside-bar-information-container .profile-name {
  font-size: 2em;
}
.aside-bar-information-container .user-name {
  font-size: 1.4em;
}
.aside-bar-information-container .bio {
  margin: 15px 0;
}
.aside-bar-information-container ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
.aside-bar-information-container ul li {
  margin-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aside-bar-information-container .icon {
  margin-right: 5px;
}
.aside-bar-information-container .aditional-information-list {
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.3em;
  margin-top: 20px;
}
.aside-bar-information-container .aditional-information-list li {
  margin-bottom: 15px;
}

.repository-card-container {
  border-bottom: 1px solid black;
  margin-left: 900px;
  max-width: 700px;
  width: 100%;
  font-weight: bold;
  margin-top: 30px;
}
.repository-card-container p {
  font-size: 1.2em;
}
.repository-card-container header {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.repository-card-container footer {
  margin-top: 10px;
  max-width: 240px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  justify-content: space-between;
}

.home-wrapper {
  background-color: #FFF;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-title {
  font-size: 40px;
}

.home-form {
  max-width: 540px;
  width: 100%;
  display: flex;
}
.home-form input {
  height: 40px;
  flex-grow: 1;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 25px;
}

.primary-button {
  height: 40px;
  width: 118px;
  background-color: #3B4252;
  color: #FFF;
  border-radius: 5px;
  border: none;
}

.profile-content-container {
  background-color: #FFF;
  color: #3B4252;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 350px;
}/*# sourceMappingURL=main.css.map */